<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 rounded-0 px-5 py-3">
            <div class="modal-header border-0 pb-0">
                <h3>Recent Comments</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                <div class="comment-list">
                </div>
                <form class="comment-form">
                    <input type="text" class="form-control-plaintext mb-2 name" placeholder="Your Name">
                    <textarea class="form-control-plaintext mb-3 comment-box" placeholder="Write a comment..."></textarea>
                    <input type="submit" class="submit-comment border-0">
                </form>
            </div>
        </div>
    </div>
</div>