<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 rounded-0 px-5 py-3">
            <div class="modal-header border-0 pb-0">
                {{!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> --}}
                <h3>Recent Comments</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                <div class="comment-list">
                    <p class="poster-name">Anonymous</p>
                    <p class="poster-comment">This is cool af.</p>
                    <p class="poster-name">Anonymous</p>
                    <p class="poster-comment">Okay dude.</p>
                </div>
                <form>
                    <input type="text" class="form-control-plaintext mb-2" placeholder="Your Name">
                    <textarea class="form-control-plaintext mb-3" placeholder="Write a comment..."></textarea>
                    <input type="submit" class="submit-comment border-0">
                </form>
            </div>
            {{!-- <div class="modal-footer border-0"> --}}
                {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
            {{!-- </div> --}}
        </div>
    </div>
</div>