<div class="navigation mt-5 mb-4">
    <h2 class="mb-0"><a href="/">Delish Scraper</a></h2>
    <div class="links">
        <h3 class="favorite mb-0"><a href="/favorite">My Favorites</a></h3>
        <h3 class="scrape mb-0">Scrape</h3>
    </div>
</div>