body {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    background-color: #f9f9f9;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.article-card {
    width: 30%;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 0px 10px rgba(0,0,0, 0.1);
}

.article-card h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.article-image {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.article-content {
    padding: 30px 20px;
}

.post-date {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}
/* 
.author {
    margin-bottom: 5px;
} */